<!DOCTYPE html>
<html ng-app="EnerBankApp" ng-controller="mainController">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <base href="/">
    @Styles.Render("~/Content/theme")
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/bootstrapui")
    @Scripts.Render("~/bundles/app")

    <title>{{appName}} - versione {{version}} - @ViewBag.Title</title>
</head>

<body class="panel-body">

    @RenderBody()

    @RenderSection("scripts", required: false)

</body>
</html>
